.navbar-section {
  background-color: #417d7a;
  /* height: 4em;
  overflow: visible; */
}

.logo {
  margin: 0;
}

.top-section {
  margin-bottom: 1em;
}

.nav-links {
  margin-right: 2em;
}

.search-btn {
  background-color: #1a3c40;
  color: white;
  border-color: #1a3c40;
  width: 6em;
}

.search-btn:hover {
  background-color: #1d5c63;
  border-color: #1d5c63;
}

.search-result {
  background-color: white;
  /* width: 40%; */
  width: 13.15em;
  padding: 0;
  margin: 0;
  border-radius: 0.1em;
}

.search-result ul {
  padding: 0;
  margin: 0;
}

.search-result li {
  /* padding: 1%; */
  border-bottom: 1px solid #1a3c40;
  border-radius: 0.1em;
  padding: 0.2em;
  /* margin: 0.5em 0; */
  color: #1a3c40;
  font-size: 1.2em;
}

.search-result li:hover {
  background-color: #1a3c40;
  color: white;
  cursor: pointer;
}

.search-result-image {
  height: 2.5em;
  width: 2em;
  margin-right: 1em;
  border: 1px solid wheat;
  object-fit: cover;
  border-radius: 0.2em;
}

.book-author {
  font-size: 0.8em;
  font-style: italic;
}

.search-box {
  position: relative;
  /* overflow: visible; */
}

.search-box-items {
  /* overflow: visible; */
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 100;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  /* left: 0;
  right: 0; */
  /* bottom: 100%; */
}
